html, body{
    height: 100%;
    background: url('/drugs/Static/Pictures/dna.jpg') no-repeat center rgba(0, 0, 0, 0.25);
    background-size: cover;
    overflow: scroll;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.25);
}
* {
    margin: 0;
    padding: 0;
}

.fom{
    width: 40%;
    height: inherit;
    padding: 5%;
    float: left;
}
.title_name{
    color: #086c92;
    font-family: 'Ranchers', cursive;
    font-size: 75pt;
    width: 100%;
    text-align: right;
    padding-right: 3%;
}

.result_main{
    margin-left: 5%;
    margin-top: 5%;
    width: 20%;
    height: 300px;
    background: white;
    border-radius: 15px;
    /*overflow: hidden;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
}

.rm1{
    width: 100%;
    height: 80%;
    position: relative;
}

.rm2{
    width: 100%;
    height: 20%;
    background: whitesmoke;
    position: relative;
    border-radius: 0px 0px 15px 15px;
}

.prob{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pclass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary{
    width:100%;
}

.head1{
    float: left;
    width: 50%;
    /*background-color: darkorange;*/
    padding-top: 3%;
    padding-left: 6%;
}

.head2{
    float: left;
    width: 50%;
    /*background-color: darkseagreen;*/
}


.ayush{
    height: 100px;
}

.main_dialog{
    background: whitesmoke;
    width: 200%;
    height: 500px;
    margin-left: -50%;
}
.myteam{
    color:  #4285F4;
    font-family: 'Alatsi', sans-serif;
}

.photos{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 1%;
    position: relative;
}

.photomain{
    width: 100%;
    height: 200px;
    /*margin: 0;*/
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 7%;
}


.photosec1{
    height: 100%;
    width:25%;
    float: left;
}


.photosec2{
    height: 100%;
    width:25%;
    float: left;
}


.photosec3{
    height: 100%;
    width:25%;
    float: left;
}


.photosec4{
    height: 100%;
    width:25%;
    float: left;
}

.picturesec{
    width: 100%;
    height: 80%;
    /*background-color: darkgoldenrod;*/
}


.namesec{
    width: 100%;
    height: 20%;
    /*background-color: lime;*/
    text-align: center;
    padding-top: 15%;
}
.photo1{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 15%;
    margin-top: 12%;
    background-size: 10px;
    /*background: whitesmoke url('/drugs/Static/Pictures/ayush.jpg') no-repeat center;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.photo1 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.photo2 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.photo3 img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}


.photo2{
    background-color: whitesmoke;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 15%;
    margin-top: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;*/
    overflow: hidden;
}


.photo3{
    background-color: whitesmoke;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 15%;
    margin-top: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;*/
    overflow: hidden;
}


.photo4{
    background-color: whitesmoke;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 15%;
    margin-top: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;*/
    overflow: hidden;
}

.teams{
    /*background-color: forestgreen;*/
    padding-top: 3%;
    text-align: center;
}

.aboutus{
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: whitesmoke;
    width: 9rem !important;
    background-color: #086c92;
    border-radius: 0.3rem;
    padding: 0.5rem;
    text-align: center;
}

.aboutus:hover {
    background-color: #0e80ab;
    color: #ffffff;
    text-decoration: None;
}

.aboutus  a {
    color: white !important;
    text-decoration: None !important;
}

h3 a {
    color: #ffffff;
    text-decoration: None;
}

.nam{
    font-family: 'Nova Square', cursive;
}

.aboutsecc{
    padding-top: 3%;
    /*text-align: center;*/
    font-family: 'Farsan', cursive;
    font-size: 16pt;
    color: darksalmon;
}


.namcode{
    font-family: 'Libre Barcode 128', cursive;
    color: #4285F4;
}
.form-check-label{
    color: white;
}

.c-text {
    color: #086c92;
}

.c-cards {
    line-height: 3.3rem;
}

.c-card-p {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}



a,
a label {
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
        color: #ffffff !important;
        background-color: #086c92 !important;
}

.accordion-button:focus {
    border-color: #0e6c91;
        /*box-shadow: 0 0 0 0.25rem rgb(14 108 145);*/
}

.r-main {
    height: 3.2rem;
    background-color: white;
    border-radius: 0.4rem;
}

.r-heading {
    color: #086c92;
    width: 83%;
    font-size: 1rem;
    vertical-align: middle;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.w-90 {
    width: 90%;
}

.choose-file {
    color:white;
    font-size: 1rem;
}

.download-example {
    font-size:0.9rem;
    padding-top: 0.3rem;
}

.main-bcolor {
    background-color: #086c92 !important;
}

.w-color {
    color: white !important;
}

.btn-predict:hover {
    background-color: #0e80ab !important;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #086c92 !important;
}

.accordion-button:focus {
    border-color: #0e6c91;
    /*box-shadow: 0 0 0 0.25rem rgb(14 108 145);*/
}

.r-main {
    height: 3.2rem;
    background-color: white;
    border-radius: 0.4rem;
}

.r-heading {
    color: #086c92;
    width: 83%;
    font-size: 1rem;
    vertical-align: middle;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main-bcolor {
    background-color: #086c92 !important;
}

.white-color {
    color: #ffffff !important;
}

.a-comp {
    background: #086c92;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 15px;
}

.a-comp-head {
    width: 95%;
    background-color: white
}

.w-95 {
    width: 95%;
}

.f1 {
    font-size: 1rem !important;
}

.b-white {
    background-color: #ffffff !important;
}

.f1-2 {
    font-size: 1.2rem !important;
}

.w-85 {
    width: 85% !important;
}

.ab-sim::after {
    margin-left: 0.5rem !important;
}



